:root {
    --default-white: #fff;
    --dark-white: rgb(246, 241, 241);
    --default-gray: #f1f1f1;
    --dark-gray: #3f3f50;
    --default-black: #000;

    --light-blue: rgb(236, 241, 245);
    --default-blue: rgb(42, 53, 75);

    --default-orange: rgb(230, 141, 34);
}

:root {
    --color-background: var(--default-white);
    --color-text: var(--default-black);
}